---
import Layout from "../layouts/Layout.astro";
import AlmariaShoppingCart from "../components/almaria-shopping-cart.astro";
import AlmariaHeader from "../components/almaria-header.astro";
import AlmariaFooter from "../components/almaria-footer.astro";
---

<Layout title="Home">
    <div class="flex flex-col min-h-screen">
        <AlmariaHeader />
        <AlmariaShoppingCart />
        <AlmariaFooter />
    </div>
</Layout>
