<footer class="bg-[rgb(112,142,174)] py-8">
    <div class="container mx-auto md:px-16">
        <div class="flex flex-col md:flex-row justify-between gap-8">
            <div class="text-center md:text-left">
                <p class="text-white dark:text-gray-300 font-bold gap-4 pb-1">
                    &copy; 2025 Alamaria
                </p>

                <p class="text-white dark:text-gray-300 pb-1">
                    <span class="font-bold">Teléfono:</span>
                    <a
                        target="_blank"
                        href="tel:50375438029"
                        class="text-white dark:text-gray-300"
                    >
                        <span class="text-white hover:underline">
                            7543-8029
                        </span>
                    </a>
                </p>
                <a
                    href="https://maps.app.goo.gl/36GvSkTaneZuhJXf7"
                    target="_blank"
                >
                    <p>
                        <span class="font-bold text-white dark:text-gray-300"
                            >Dirección:</span
                        >
                        <span class="text-white hover:underline">
                            Blvd. del Hipodromo 537, San Salvador
                        </span>
                    </p>
                </a>
            </div>
            <div class="text-center md:text-left">
                <p class="text-white dark:text-gray-300 font-bold gap-4 pb-1">
                    Horario:
                </p>
                <ul class="text-white dark:text-gray-300">
                    <li>
                        <span class="font-semibold"
                            >Lunes a sábado:
                        </span> 10:30 a.m. – 4 p.m.
                    </li>
                    <li>
                        <span class="font-semibold">Domingo:</span> Cerrado
                    </li>
                </ul>
            </div>
            <div class="text-center md:text-left">
                <p class="text-white dark:text-gray-300 font-bold gap-4 pb-3">
                    Enlaces:
                </p>
                <div class="flex justify-center md:justify-start space-x-4">
                    <a
                        href="https://www.tiktok.com/@almaria.shop"
                        aria-label="TikTok"
                        class="text-white dark:text-gray-300 hover:scale-150"
                    >
                        <i class="fab fa-tiktok text-2xl"></i>
                    </a>
                    <a
                        target="_blank"
                        aria-label="Instagram"
                        href="https://www.instagram.com/almaria.shop/"
                        class="text-white dark:text-gray-300 hover:scale-150"
                    >
                        <i class="fab fa-instagram text-2xl"></i>
                    </a>
                    <a
                        target="_blank"
                        aria-label="Facebook"
                        href="https://www.facebook.com/p/Almaria-shop-100075904912698/"
                        class="text-white dark:text-gray-300 hover:scale-150"
                    >
                        <i class="fab fa-facebook text-2xl"></i>
                    </a>
                    <a
                        target="_blank"
                        aria-label="Waze"
                        href="https://ul.waze.com/ul?place=ChIJqdQ3YAAxY48RSvge_rVJBv0&ll=13.69180050%2C-89.24420980&navigate=yes&utm_campaign=default&utm_source=waze_website&utm_medium=lm_share_location"
                        class="text-white dark:text-gray-300 hover:scale-150"
                    >
                        <i class="fab fa-waze text-2xl"></i>
                    </a>
                    <a
                        target="_blank"
                        href="https://wa.me/50375438029"
                        aria-label="WhatsApp"
                        class="text-white dark:text-gray-300 hover:scale-150"
                    >
                        <i class="fab fa-whatsapp text-2xl"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
/>
